<div class = "col-6" id = "uneaten">
<ul>
{{#each burgers}}
{{#unless devoured}}
<li>
{{burger_name}}
<button class = "btn devour" id = {{id}}>Devour Me!</button>
</li>
{{/unless}}
{{/each}}
</ul>
</div>

<div class = "col-6" id = "eaten">
<ul>
{{#each burgers}}
{{#if devoured}}
<li>
{{burger_name}}
<button class = "btn delete" id = {{id}}>Delete</button>
</li>
{{/if}}
{{/each}}
</ul>
</div>